.leaflet-pm-toolbar .leaflet-pm-icon-small-window{
    background-image: url('window-small.png');
}
.leaflet-pm-toolbar .leaflet-pm-icon-medium-window{
    background-image: url('window-medium.png');
}
.leaflet-pm-toolbar .leaflet-pm-icon-large-window{
    background-image: url('window-large.png');
}
.leaflet-pm-toolbar .leaflet-pm-icon-door{
    background-image: url('door.png');
}
.legend {
opacity: 0.7;
}

.leaflet-container {
    background: #cc33c5 !important;
    outline: 0;
}